* {
  margin: 0;
  padding: 0;
}

body {
  /* min-height: 100vh; */
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  /* overflow-y: ; */
  background-color: #121212;
}

img {
  /* max-width: 100%; */
}
